/*--------------
All Contents
--------------*/

/*-----------------
1. Reset.css
2. Helper Classes
3. Main and Hero Section Stylings
4. Services Styling
5. Features Split
6. Feature with BG
7. Feature Big
8. Testimonial Stling
9. Pricing Section
10. Call To Action Subscribe
11. Download Section
12. Back to top
------------------*/

/*----- 1. Reset.css -----*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: 400;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --- Common Styles ---*/

h1 {
  font-size: 16px;
}


/*-------------------------------------------------------*/
/* General
/*-------------------------------------------------------*/
::-moz-selection { color: #fff; background: $cdark; }
::-webkit-selection { color: #fff; background: $cdark; }
::selection { color: #fff; background: $cdark; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $cdark;
  @include transition($all);
}

a:hover,
a:focus {
  text-decoration: none;
  color: $cdark;
}

body {
  margin: 0;
  padding: 0;
  font-family: $body-font;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  outline: 0;
  color: $cdark;
  // &::-webkit-scrollbar-track {
  //     background-color: #fff;
  // }
  // &::-webkit-scrollbar {
  //     width: 10px;
  //     background-color: #fff;
  // }
  // &::-webkit-scrollbar-thumb {
  //     border-radius: 4px;
  //     background-color: $cdark;
  // }

  img {
    border: none;
    max-width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}
