/* ------- Footer Section Styling Starts ------- */
  
.footer {
    background-color: #333533;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
  
    img {
      margin-bottom: 20px;
    }
}
  
.footer-menu {
    ul {
      list-style-type: none;
    }
  
    li {
      display: inline;
      line-height: 2;
      font-size: 14px;
      padding-right: 15px;
      text-transform: uppercase;
  
      a {
        color: $clight;
        text-decoration: none;

        &:hover {
            color: $cwhite;
        }
      }
    }
}
  
.footer-text p {
    font-size: 14px;
    color: #707570;
    line-height: 2;
    letter-spacing: 1px;
    margin-top: 10px;
}