.intro {
    height: calc($minh100vh - 20vh);
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;

    @include recScreen{
        height: 90vh;
        background-position: top;
    }

    @include md-updown {
       height: 80vh;
       background-position: top;
    }

    @include md-down {
        height: 70vh;
        background-position: center;
    }

    &__content {
        text-align: left;
        margin-top: 2rem;

        @include md-updown {
            margin: 2rem auto;

            img {
                width: 200px;
            }
        }
        @include md-down {
            margin-top: 20vh;
            margin-bottom: 3rem;
        }
        h3 {
            font-size: 2.4rem;
            color: $primary-color;
            font-weight: 400;

            span {
                color: $primary-color;
                font-weight: 800;
            }
        }
        p {
            font-size: 1.45rem;
            margin-top: 1.5rem;
            color: $cwhite;
            line-height: 32px;
            @include md-updown {
                font-size: 1.1rem;
                line-height: 28px;
            }

            span {
                display: block;
                margin-top: 1.5rem;
                margin-bottom: 1rem;
                color: $primary-color;
            }
        }
        .btn-custom {
            background-color: $primary-color;
            color: $cdark;
            padding: 0.75rem 2rem;
            border-radius: $border6;
            @include transition($all);
            // @include box-shadow($dark-bs);
            outline: none;
            border: none;
            margin-right: 0.5rem;
            &:hover {
                background-color: darken($primary, 2);
                color: $cwhite;
                @include box-shadow($shadow);
            }
        }

        .btn-line {
            display: block;
            margin-top: 1.5rem;
            color: $cwhite;
            text-align: left;
            text-decoration: underline;
        }
    }
}

.introsec {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include md-updown {
        height: 100%;

        img {
            margin: 1rem auto;
        }
    } 
    &__title {
        font-size: 2rem;
        color: darken($primary, 10%);
        text-align: center;
        font-weight: 700;
    }
    &__content {
        text-align: left;
        @include md-down {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        h3 {
            font-size: 1.6rem;
            color: $cdark;
            font-weight: 400;

            span {
                color: $primary;
                font-weight: 600;
            }
        }
        p {
            font-size: 1.2rem;
            margin-top: 0.4rem;
            margin-bottom: 2rem;
            color: $cdark;
            line-height: 32px;
            @include md-updown {
                color: $cdark;
                margin-top: 1.4rem;
                margin-bottom: 1.4rem;
                font-size: 1.1rem;
                line-height: 28px;
            }
        }

        h5 {
            font-size: 1.5rem;
            line-height: 2.5rem;
            font-style: italic;
            font-weight: 400;
        }
    }
}

.imgBg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    @include md-updown {
        height: auto;
        background-image: none;
    }

    @include md-down {
        background-image: none;
    }
}