
  /*----- Helper Classes -----*/
  html * {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .img-circle {
    border-radius: 50%;
  }
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    &:after, &:before {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  
  /*
  ::-webkit-scrollbar {
      display: none;
  }
  */
  
  ::-moz-selection, ::selection {
    color: #fff;
    background: #0073AA;
  }
  
  .nopadding {
    padding: 0;
  }
  
  .custom-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .no-margin {
    margin-right: 0;
    margin-left: 0;
  }
  
  .sup-title {
    display: inline-block;
    font-size: 1em;
    padding: 4px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    background: #000000;
    margin: 0 0 20px 0;
  }
  
  .spacer {
    width: 100%;
    height: 50px;
  }
  
  #loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    opacity: 1;
    background-color: #F2F2F2;
    z-index: 9999;
    text-align: center;
  }
  
  #loading-image {
    display: inline;
    top: 40%;
    position: relative;
    z-index: 9999;
  }
  
  .spacer {
    width: 100%;
    height: 50px;
  }
  
  .spacer-big {
    width: 100%;
    height: 100px;
  }
  
  .error-message {
    color: #FF3333;
    margin-top: 5px;
  }
  
  .success-message {
    color: #33cc33;
    margin-top: 5px;
  }
  
  .btn-fill {
    background: #FFFFFF;
    color: #0073AA;
    border: 2px solid #0073AA;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
  
    &:hover, &:focus {
      color: #0073AA;
      background: transparent;
      border: 2px solid #0073AA;
    }
  }
  
  
  /* ------ Navbar Styling Ends ----- */
  
  #main {
    height: 100%;
  }
  
  /* ----- Hero Section Styling Starts ----- */
  
  .hero-section {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../images/bg_ptrn.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: 50% 60%;
    position: relative;
    z-index: 10;
  }
  
  .jarallax {
    position: relative;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .hero-content {
    width: 100%;
    padding: 200px 0 100px 0;
    overflow: hidden;
  
    h1 {
      font-size: 34px;
      color: #111111;
      font-weight: 600;
      line-height: 1.3;
      letter-spacing: -1px;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 14px;
      color: #111111;
      line-height: 1.6;
      letter-spacing: 1px;
      margin-bottom: 30px;
    }
  }
  
  .btn-action {
    background-color: #0073AA;
    border: 2px solid #0073AA;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    height: 38px;
    letter-spacing: 2px;
    line-height: 3;
    padding: 0 21px;
    text-transform: uppercase;
    outline: none;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
  }
  
  .hero-content .btn-action {
    &:hover, &:focus {
      background: transparent;
      outline: none;
      color: #0073AA;
      border-color: #0073AA;
    }
  
    &:active {
      background: transparent;
      outline: none;
      color: #0073AA;
      border-color: #0073AA;
  
      &:focus {
        background: transparent;
        outline: none;
        color: #0073AA;
        border-color: #0073AA;
      }
    }
  }
  
  .btn-action {
    &:hover, &:focus {
      background: transparent;
      outline: none;
      color: #0073AA;
      border-color: #0073AA;
    }
  
    &:active {
      background: transparent;
      outline: none;
      color: #0073AA;
      border-color: #0073AA;
  
      &:focus {
        background: transparent;
        outline: none;
        color: #0073AA;
        border-color: #0073AA;
      }
    }
  }
  
  .txt-white {
    h1, p {
      color: #FFFFFF;
    }
  }
  
  .app-hero-content {
    overflow: hidden;
    padding: 120px 0 0 0;
  
    h1, p {
      color: #111111;
    }
  
    img {
      margin-top: 50px;
    }
  }
  
  .app-sub {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 200, 0.1)), url(../images/feature_bg.jpg) no-repeat center center;
    background-size: cover;
  }
  
  .app-sub-inner {
    width: 100%;
    height: 100%;
    padding: 100px 0 100px 0;
    overflow: hidden;
  }
  
  .app-sub-content {
    padding: 100px 0 0 0;
  
    h1 {
      font-size: 42px;
      font-weight: 700;
      color: #111111;
      line-height: 1.2;
      margin-bottom: 30px;
    }
  
    p {
      font-size: 16px;
      font-weight: 100;
      color: #111;
      line-height: 1.4;
      margin-bottom: 30px;
    }
  
    .subscribe-form {
      text-align: left;
    }
  }
  
  /* ----- Hero Section Styling Ends ----- */
  
  /* ----- About Section Styling Starts ----- */
  
  .services-section {
    background: #FFFFFF;
  }
  
  .services-content {
    padding-top: 100px;
    padding-bottom: 50px;
  
    h1 {
      font-size: 24px;
      color: #111111;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 1.4;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 14px;
      color: #666666;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.4;
      margin-top: 0px;
    }
  }
  
  .services {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
  
    .services-icon {
      position: relative;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid;
      border-color: transparent;
      background: #F6F6F6;
      margin: 0 auto;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
  
      img {
        position: absolute;
        top: 10%;
        left: 11%;
        font-size: 42px;
      }
    }
  
    .services-description {
      margin-bottom: 50px;
  
      h1 {
        font-size: 18px;
        color: #111111;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 1.4;
        margin-top: 20px;
        margin-bottom: 20px;
      }
  
      p {
        font-size: 14px;
        color: #666666;
        letter-spacing: 1px;
        line-height: 1.5;
        margin-top: 0;
      }
    }
  
    .col-sm-4:hover .services-icon {
      border-color: #0073AA;
    }
  }
  
  /* ----- Service Section Styling Ends ----- */
  
  
  
  /* ----- Features Section Styling Starts ----- */
  .features-section {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  
    .f-left {
      flex: 1 0 50%;
      background: #ececec;
    }
  
    .f-right {
      flex: 1 0 50%;
      background: url(../images/iphone_hand_1.jpg);
      background-position: 50% 50%;
      background-size: cover;
  
      img {
        margin-top: 0;
      }
    }
  
    .f-left {
      padding: 30px;
  
      h2 {
        font-size: 28px;
        color: #111111;
        font-weight: 600;
        line-height: 1.3;
        margin-top: 40px;
      }
  
      p {
        font-size: 14px;
        color: #111111;
        line-height: 1.3;
        letter-spacing: 1px;
        margin-top: 20px;
        margin-bottom: 30px;
      }
    }
  
    .btn-action {
      margin-bottom: 20px;
    }
  }
  /*----- Features Section Styling Ends ----- */
  
  
  /* -------- Testimonials Section Starts --------- */
  
  .testimonial-section {
    background: #FFFFFF;
    padding-top: 50px;
  
    h1 {
      font-size: 34px;
      font-weight: 500;
      color: #111111;
      margin-top: 3em;
    }
  
    .sub {
      font-size: 16px;
      color: #111111;
      line-height: 1.5;
      margin-top: 30px;
      letter-spacing: 1px;
    }
  }
  
  .testimonials {
    margin-top: 4em;
    width: 100%;
    margin-bottom: 4em;
  }
  
  .testimonials-2 {
    margin-bottom: 5em;
  }
  
  .testimonial-single img {
    width: 80px;
    height: 80px;
  }
  
  .testimonial-text {
    h3 {
      font-size: 16px;
      letter-spacing: 0;
      line-height: 1.5;
      color: #000000;
    }
  
    .ion {
      display: inline-block;
      margin-top: 20px;
      font-size: 14px;
      color: #ff8000;
    }
  
    p {
      font-size: 14px;
      padding: 20px 10px 20px 10px;
      letter-spacing: 1px;
      line-height: 1.5;
      color: #111111;
    }
  }
  
  /* -------- Testimonials Section -------- */
  
  /* ------ Download Section Styling------------ */
  
  .download {
    width: 100%;
    height: 100%;
    background: #F3F3F3;
  }
  
  .app-img {
    display: inline-block;
    margin-top: 5em;
  }
  
  .app-info {
    h3 {
      font-size: 34px;
      font-weight: 500;
      color: #404040;
      margin-top: 20px;
    }
  
    h4 {
      font-size: 18px;
      color: #3C4B5D;
      margin-top: 20px;
    }
  
    ul {
      margin-top: 20px;
    }
  
    span {
      font-size: 12px;
      font-weight: 400;
      color: #222222;
    }
  
    .ion {
      font-size: 1em;
      color: #ff8000;
    }
  }
  
  .download-buttons {
    margin-top: 3em;
    margin-bottom: 5em;
  
    img {
      height: 50px;
      width: 160px;
    }
  }
  
  /*------ Download Section Styling Ends ------ */
  
  
  /* ----- CTA Section Styling Starts ----- */
  
  .cta-sub {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #F3F3F3;
  
    h1 {
      font-size: 28px;
      color: #111111;
      font-weight: 600;
      line-height: 1.3;
      margin-top: 10px;
      margin-bottom: 0;
    }
  
    p {
      font-size: 16px;
      color: #303030;
      line-height: 1.5;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
  
  .subscribe-form {
    text-align: center;
  
    .mail {
      background-color: #F9F9F9;
      border: none;
      border-radius: 5px 0 0 5px;
      outline: none;
      height: 40px;
      padding: 0 150px 0 20px;
      box-shadow: none;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      transition: all .3s;
    }
  
    input {
      color: #222222;
      padding: 0;
      font-size: 0.9em;
    }
  
    .submit-button {
      font-size: 0.9em;
      height: 40px;
      border: 2px solid;
      border-radius: 0 5px 5px 0;
      margin: 0;
      padding: 0 25px 0 25px;
      border-color: #0073AA;
      background-color: #0073AA;
      color: #FFFFFF;
      box-shadow: 0 0 1px transparent;
      outline: none;
  
      &:hover {
        box-shadow: 0 0 10px #FFFFFF;
        -webkit-transition: 500ms;
        transition: 500ms;
      }
    }
  }
  
  /* ----- CTA Section Styling Ends ----- */
  
  /* ----- Client Sectiion Styling ----- */
  
  .client-section {
    background-color: #F3F3F3;
  }
  
  .clients {
    ul li {
      display: inline;
    }
  
    .single {
      img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: all ease-in-out 300ms;
      }
  
      &:hover img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
      }
    }
  }
  
  .no-color {
    background: #FFFFFF;
  }
  
  /*---------------------------------------------------
  ----------- Contact Page Styling Starts -------------
  ---------------------------------------------------*/
  
  .contact-section {
    width: 100%;
    height: 100%;
    padding: 150px 0 50px 0;
    background: #FFF;
  
    h1 {
      font-size: 28px;
      font-weight: 600;
      color: #111111;
      line-height: 1.3;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 14px;
      color: #111111;
      line-height: 1.4;
    }
  }
  
  /* ------------ Contact Form Styling --------*/
  
  .contact-form {
    padding-top: 50px;
  }
  
  label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    text-align: left;
  }
  
  .form-control {
    border: 0px;
    border-radius: 0px;
    margin-top: 10px;
    background: transparent;
    margin-bottom: 40px;
    border-bottom: 1px solid #999999;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  
    &:focus {
      border-color: #0073AA;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  
    &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder {
      font-size: 13px;
      color: #999999;
    }
  
    &:-ms-input-placeholder {
      font-family: Quicksand;
      font-size: 13px;
      color: #999999;
    }
  }
  
  .text-muted {
    font-size: 13px;
    color: #222;
  
    strong {
      color: #FF3333;
    }
  }
  
  .btn-send {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    border-radius: 0px;
    color: #FFFFFF;
    background: #0073AA;
    border-color: #0073AA;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
  
    &:hover, &:focus {
      color: #FFFFFF;
      background: #000000;
      border-color: #111111;
      outline: none !important;
    }
  }
  
  /* -------- Contact Section Styling Ends ---- */
  
  /* -------------------------------------------------------
  ----------- Bact-to-Top Styling Starts Here --------------
  ---------------------------------------------------------*/
  
  .back-to-top {
    background: lighten($primary, 10%);
    margin: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 90;
    display: none;
    text-decoration: none;
    color: #0E1729;
  
    i {
      position: relative;
      left: 13px;
      top: 8px;
      font-size: 24px;
      color: #FFFFFF;
      -webkit-transition: 200ms;
      -moz-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms;
    }
  
    &:hover {
      background: darken($primary, 20%);
      color: #FFFFFF;
  
      i {
        top: 6px;
      }
    }
  
    &:focus {
      color: #FFFFFF;
    }
  }
  
  
  