.sec {
    position: relative;
    padding: 4rem 0;

    @include recScreen {
        padding: 3rem 0;
    }

    .btn-custom-line {
        font-size: 1rem;
        padding: 0.35rem 2.2rem;
        background-color: transparent;
        color: $cdark;
        border: 2px solid $cdark;
        @include transition($all);
        border-radius: $border6;

        &.yellow {
            color: $primary-color;
            border: 2px solid $primary-color;
        }

        &:hover {
            background-color: $cdark;
            color: $cwhite;
        }
    }
}

.secOne {
    &__content {
        .subhead {
            font-size: 14px;
            margin-bottom: 0;
            font-weight: 800;
            color: $cdark;
        }

        h3 {
            font-size: 30px;
            color: $cdark;
            font-weight: 700;
            margin-bottom: 1.5rem;
            margin-top: 0;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            color: $cgrey;
            margin-bottom: 1.5rem;
        }
    }
}

.secTwo {
    background-color: #333533;

    &__content {
        .subhead {
            font-size: 14px;
            margin-bottom: 0.5rem;
            font-weight: 800;
            color: $cwhite;
        }

        h3 {
            font-size: 30px;
            color: $primary-color;
            font-weight: 700;
            margin-bottom: 1.5rem;
            margin-top: 0;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            color: $clight;
            margin-bottom: 1.5rem;
        }
    }
}

.secThree {
    &__content {
        .subhead {
            font-size: 14px;
            margin-bottom: 0;
            font-weight: 800;
            color: $cdark;
        }

        h3 {
            font-size: 30px;
            color: $cdark;
            font-weight: 700;
            margin-bottom: 1.5rem;
            margin-top: 0;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            color: $cgrey;
            margin-bottom: 1.5rem;
        }
    }
}

.secFour {
    background-color: $cdark;

    &__heading {
        text-align: center;
        margin-bottom: 1rem;

        p {
            font-size: 1rem;
            color: $cwhite;
            font-weight: 600;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        h3 {
            font-size: 2.2rem;
            font-weight: 700;
            color: $primary-color;
        }
    }

    &__fea {
        width: 80%;
        margin: 3rem 0;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 140px;
            height: 140px;
            background-color: #333533;
            border-radius: 50%;
            margin-bottom: 2rem;

            img {
                width: 60px;
                margin-top: 1rem;
            }
        }

        h3 {
            font-size: 1.4rem;
            color: $primary-color;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        p {
            font-size: 16px;
            color: $clight;
            margin-bottom: 1.5rem;
        }
    }
}

.secFive {
    &__content {
        .subhead {
            font-size: 1rem;
            color: $cdark;
            font-weight: 600;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        h3 {
            font-size: 30px;
            color: $cdark;
            font-weight: 700;
            margin-bottom: 1.5rem;
            margin-top: 0;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            color: $cgrey;
            margin-bottom: 1.5rem;
        }
    }

    .sideImg {
        margin-top: -4rem;

        @include recScreen {
            width: 50%;
            margin-top: -2rem;
        }

        @include md-down {
            width: 60%;
            margin-top: 0;
        }
    }

    &__info {
        display: flex;
        justify-content: center;
        width: 60%;
        margin-left: auto;
        padding-right: 7rem;
        margin-top: 2rem;

        @include recScreen {
            width: 80%;
        }

        @include md-updown {
            width: 90%;
        }

        @include md-down {
            width: 100%;
            padding-left: 2rem;
        }

        &.odd {
            margin-right: auto;
            margin-left: unset;
            padding-left: 7rem;
            width: 80%;

            @include md-updown {
                width: 90%;
                padding-left: 2rem;
            }

            @include md-down {
                width: 100%;
                padding-left: 2rem;
            }
        }

        img {
            height: 45px;
            margin-right: 1rem;
        }

        > div {
            h3 {
                font-size: 18px;
                color: $cdark;
                font-weight: 700;
                margin-top: 0;
                text-transform: uppercase;
            }
    
            p {
                font-size: 16px;
                color: $cgrey;
                margin-bottom: 1.5rem;
            }
        }
    }
}

.secSix {
    position: relative;

    &__img {
        position: relative;

        img {
            position: relative;
        }

        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120px;
            text-transform: uppercase;
            transform: translate(-50%, -50%);
            color: $cwhite;
            font-size: 2.5rem;
            font-weight: 800;
        }
    }
}

.secSeven {
    &__heading {
        text-align: center;
        margin-bottom: 1rem;

        h3 {
            font-size: 2.2rem;
            font-weight: 700;
            color: $cdark;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            color: $cdark;
            font-weight: 600;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        a {
            font-size: 1.2rem;
            color: $cdark;
            font-weight: 600;
            margin-top: 1rem;
            padding: 0.25rem 0.5rem;
            border-radius: $border4;

            &:hover {
                background-color: $cdark;
                color: $primary-color;
            }
        }
    }
}

.secEight {
    background-color: #D6D6D6;

    &__info {
        width: 60%;

        @include recScreen {
            width: 80%;
        }
        @include md-updown {
            width: 90%;
        }

        @include md-down {
            width: 90%;
        }
        h3 {
            font-size: 22px;
            color: $cdark;
            font-weight: 700;
            margin-top: 0;
            text-transform: uppercase;
        }

        p {
            font-size: 16px;
            color: $cdark;
            margin-bottom: 1.5rem;
        }
    }
}


// SmartDev Form
.kt-sticky-toolbar {
    width: 46px;
    position: fixed;
    top: 20%;
    right: 0;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    z-index: 50;
    background: #fff;
    -webkit-box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 3px 0 0 3px;
  
    .kt-sticky-toolbar__item {
      margin: 0;
      padding: 5px;
      text-align: center;
  
      &.kt-sticky-toolbar__item--demo-toggle > a {
        padding: 8px 0;
        height: 130px;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        -webkit-text-orientation: mixed;
        text-orientation: mixed;
        font-size: 1.5rem;
        font-weight: 700;
        color: #4d5cf2;
        letter-spacing: 2px;
      }
  
      > a {
        background: #f4f4f8;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 3px;
        -webkit-transition: all .3s;
        transition: all .3s;
        &.logo_icon_1 {
            img {
                transform: rotate(90deg);
                max-width: 100px;
            }
        }
        &.logo_icon_2 {
            height: 90px;
            img {
                transform: rotate(90deg);
                max-width: 140px;
            }
        }
      }
    }
}

.smart-dev {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 120px;
    z-index: 1;
    border-radius: 10px;
    // background-color: transparent;
    // background-image: -webkit-linear-gradient(82deg, #9932f5 0%, #4933f1 53%, #4950f8 70%, #496cfe 100%);
    // background-image: linear-gradient(8deg, #9932f5 0%, #4933f1 53%, #4950f8 70%, #496cfe 100%);
  
    &__logo {
        padding: 0.2rem;
        display: block;
        text-align: center;
        margin-bottom: -18%;
        img {
            // width: 100%;
            min-width: 220px;
            margin-top: -40%;
            margin-left: -35%;
        }
    }
}

#smartDev {
    display:none;
    border-radius:10px 0 0 10px;
    position: fixed;
    top: 12%;
    right: 0;
    width: 20%;
    z-index: 100;
    padding: 1rem;
    background-color:rgba(9, 27, 49, 0.75);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .5);
    .smart-dev {
        position: relative;
        left: 0%;
        width: auto;
        // height: 54vh;
        top: -20px;
        padding: 1rem 0.5rem;
        // background-image: url(assets/images/sun_rain_snow.png);
        bottom: 20px;
        right: 20px;
        z-index: 1;
        border-radius: 10px;
    
        &__logo {
            padding: 0.2rem;
            display: block;
            text-align: center;
            margin-bottom: -18%;
            img {
                // width: 100%;
                min-width: 220px;
                margin-top: -4rem;
                margin-left: -1.5rem;
            }
        }

        h4 {
            margin-top: 1rem;
            font-size: 2rem;
        }

        .smartdev_btn {
            color: white;
        }
    }
}